<div class='abu-container'>
    <div class="title">Tattoos Confessions</div>
    <mat-card class="container">
        <form *ngIf="!isSent; else confession_sent" class="" (ngSubmit)="sendConfession()">
                <p class="intro">
                    ספרו לנו על חוויה שלכם מעולם הקעקועים!<br />
                    זה יכול להיות על קעקוע שעשיתם/רוצים לעשות או שראיתם<br />
                    או בכללי תובנה שרציתם לחלוק.<br />
                    קיצר פשוט כתבו!
                </p>
            <mat-form-field >
                <textarea matInput class="confession" name="confession" [(ngModel)]="confession" autofocus required minlength="10">
                </textarea>
            </mat-form-field>
            <button class="send-btn" mat-raised-button color="primary">שלח</button>

        </form>

        <ng-template #confession_sent>
            <div class="confession-sent">
                <h2> הוידוי נשלח בהצלחה!</h2><br /><br /><br />
                <h3> תודה רבה! נשתדל להעלות אותו בהקדם האפשרי</h3><br /><br /><br />
                <img class="sent-img" src="../../../assets/sent.png">
            </div>
        </ng-template>
    </mat-card>
</div>