body {
  font-family: "Varela Round" !important;
  overflow-y: hidden;
}
.abu-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 15vh;
  align-items: center;
}

.title {
  font-size: 3vh;
  font-weight: bolder;
  padding-bottom: 6vh;
}

.container {
  width: 30vw;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}

.intro {
  padding: 5vh 5% 0 5%;
}

mat-form-field {
  width: 25vw;
}
.confession {
  min-height: 20vh;
  max-height: 20vh;
  text-align: justify;
  padding: 0 20px;
}

.send-btn {
  width: 5vw;
  margin-top: 20px;
}

.sent-img {
  height: 15vh;
  margin: 5vh;
}

.anonymous {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {

  .abu-container {
    padding-top: 6vh;
  }

  .container {
    width: 80vw;
    font-size: 4vw;
  }
  .intro {
    padding: 3vh 3% 0 3%;
  }
  mat-form-field {
    width: 70vw;
  }
  .confession {
    padding: 0;
  }
  .anonymous {
    font-size: 3vw;
  }
}
