.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 0;
  text-align: right;
  font-size: 20px;
  line-height: 1.2;
}

.meta-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  flex-basis: 20%;
    
}

.meta-data-title{
font-weight: bolder;  
margin-bottom: 4px;
}

.meta-data-info {
  color: gray;
  margin-bottom: 16px;
}

.sub-container {
  flex-basis: 70%;
}

.buttons-area {
  margin: 25px 0 5px 0;
  width: 100%;
  text-align: left;
}

button {
  margin-right: 4px;
}
