.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 32px;
  text-align: right;
  font-size: 20px;
  line-height: 1.2;
  justify-content: space-between;
}

.meta-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  flex-basis: 12%;
    
}

.meta-data-title{
font-weight: bolder;  
margin-bottom: 4px;
}

.meta-data-info {
  color: gray;
  margin-bottom: 16px;
}

.message {
  flex-basis: 70%;
}

.unarchive-btn {
  flex-basis: 5%;
  float: left;
  height: 40px;
  align-self: flex-end;
}
