.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 0;
  text-align: right;
  font-size: 20px;
  line-height: 1.2;
}

.meta-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  flex-basis: 20%;
}

.meta-data-title {
  font-weight: bolder;
  margin-bottom: 4px;
}

.meta-data-info {
  color: gray;
  margin-bottom: 16px;
  direction: ltr;
}

.sub-container {
  flex-basis: 80%;
  padding: 0 0 3% 10%;
  position: relative;
  overflow: auto;
}

.buttons-area {
  position: absolute;
  bottom: 0;
  left: 2.5vh;
  margin: 25px 0 5px 0;
  width: 100%;
  text-align: left;
}

.action-btn {
  margin-right: 4px;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 14px;
    padding: 20px 0 0 0;
  }

  .meta-data {
    font-size: 8px;
    flex-basis: 28%;
  }

  .sub-container {
    flex-basis: 72%;
    padding: 0 3% 10% 10%;
    position: relative;
  }

.buttons-area {
    display: flex;
    flex-direction: row-reverse;
    left: 1vh;
    bottom: 0.5vh;
}

  .action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding: 0;
    min-width: 10vw;
    height: 7vw;
  }
}
