<div class="container">
    <div class="meta-data">
        <p class="meta-data-title">תאריך יצירה:</p>
        <p class="meta-data-info">{{confession.create_date | date:'MM/d/y - HH:mm'}}</p>
        <p class="meta-data-title">תאריך שינוי:</p>
        <p class="meta-data-info">{{confession.update_date | date:'MM/d/y - HH:mm'}}</p>
        <p class="meta-data-title">נערך לאחרונה על ידי:</p>
        <p class="meta-data-info">{{confession.updated_by}}</p>
        <p class="meta-data-title">פורסם:</p>
        <p class="meta-data-info">{{confession.serial ? 'כן ( #' + confession.serial + ' )' : 'לא'}}</p>
    </div>
    <div class="sub-container">
        <p>{{confession.message}}</p>
        <div class="buttons-area">
            <button mat-raised-button color="warn" (click)='deleteConfession()'>מחק</button>
            <button mat-raised-button color="primary" (click)='unarchiveConfession()'>שחזר</button>
        </div>
    </div>
</div>