<div class="footer">
        <p> מערכת זו נכתבה כ Open Source על ידי סול אילן, ליצירת קשר ניתן לשלוח &emsp;<a
                href="mailto:sol.elan.x@gmail.com?Subject=Confessions Manager" target="_top">מייל</a></p>
        <p class="left-side-footer">&emsp;  Powered by &emsp; <img class="angular-logo"
                src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"><a
                href="https://github.com/solilius/confessbook" target="_blank"> &emsp; GitHub Repository</a> </p>
    </div>