<div class="footer">
        <p> מערכת זו נכתבה כ Open Source על ידי סול אילן, ליצירת קשר ניתן לשלוח &emsp;<a
                href="mailto:sol.elan.x@gmail.com?Subject=Confessions Manager" target="_top">מייל</a></p>
        <p class="left-side-footer">&emsp;  Powered by Angular 9 &emsp; <img class="angular-logo"
                src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/002/square_256/angularjs.png"><a
                href="https://github.com/solilius/confessbook" target="_blank"> &emsp; GitHub Repository</a> </p>
    </div>