<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Tattoos Confessions Manager</a>
    </div>
    <div style="float: right">
        <ul class="nav navbar-nav">
            <li [ngClass]="setClasses('updates')"><a (click)="loadChild('updates', $event)" href="">עדכונים</a></li>
            <li [ngClass]="setClasses('archive')"><a (click)="loadChild('archive', $event)" href="">ארכיון</a></li>
            <li [ngClass]="setClasses('scheduler')"><a (click)="loadChild('scheduler', $event)" href="">תזמונים</a></li>
            <li [ngClass]="setClasses('main')"><a (click)="loadChild('main', $event)" href="">ראשי</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<button class="float"> + </button>