.toolbar {
  direction: ltr;
  padding-right: 20px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.toolbar-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.toolbar-item:hover {
  color: rgba(255, 255, 255, 0.562);
  transition: 100ms;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.active {
  text-decoration: underline;
  transition: 100ms;
}

.toolbar-item > .item-text {
  margin-left: 4px;
}

.login-item {
  margin-left: 30px;
  font-size: 18px;
}

.side-bar {
  position: absolute;
  left: 0;
  width: 0;
  height: 100vh;
  padding-top: 7vh;
  background: rgb(86, 138, 236);
  z-index: 10;
  transition: width 150ms ease-out;
  overflow: hidden;
}

.side-bar-open {
  width: 33vw;
}

@media only screen and (max-width: 600px) {
  .mat-toolbar {
    padding-left: 0;
  }

  .toolbar-item {
    font-size: 20px;
    padding: 16px 0;
    margin: 0;
  }
}
