#confession-list {
  position: fixed;
  top: 5vh;
  display: flex;
  flex-direction: column;
  max-height: 86vh;
  min-height: 0px;
  width: 64vw;
  margin: 2.5vh 16vw 0 0;
  overflow-y: scroll;
}

app-archived-confession-item {
  margin-bottom: 4px;
}

app-archived-confession-item:last-child {
  margin-bottom: 0;
}

.slider {
  position: absolute;
  left: 1vw;
  top: 7vh;
  background: lightcyan;
}

.slider-container {
  display: flex;
  align-items: center;
}

mat-slide-toggle {
  margin: 0 8px;
}

.my-scroller::-webkit-scrollbar {
  width: 6px;
}

.my-scroller::-webkit-scrollbar-thumb {
  background-color: #32c3f3;
}
