#confession-list {
  position: fixed;
  top: 5vh;
  display: flex;
  flex-direction: column;
  max-height: 86vh;
  min-height: 0px;
  margin: 2.5vh 18vw;
  overflow-y: scroll;
}

app-archived-confession-item {
  margin-bottom: 4px;
}

.slider {
  position: absolute;
  left: 1vw;
  top: 7vh;
  background: lightcyan;
}

.slider-container {
  display: flex;
  align-items: center;
}

mat-slide-toggle {
  margin: 0 8px;
}
