#confession-list {
  position: fixed;
  top: 5vh;
  display: flex;
  flex-direction: column;
  max-height: 86vh;
  min-height: 0px;
  margin: 2.5vh 18vw;
  overflow-y: scroll;
}

app-confession-item {
  margin-bottom: 4px;
}
