.scheduler {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  direction: rtl !important;
}

.header {
  width: 100%;
  direction: rtl;
}

.slider {
  position: absolute;
  left: 1.5vw;
  top: 1vw;
  transform: rotateY(180deg);
}

.toggle-label{
    padding: 12px 0 0 4px;
    transform: rotateY(180deg);
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #089c1c !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #089c1c86 !important;
}

mat-form-field {
  text-align: center;
  border: solid 1px rgb(230, 226, 226);
  border-radius: 10px;
  padding: 10px;
  margin: 10px !important;
  width: 90%;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.confirm-btn{
    flex-basis: 74%;
}

.cancel-btn{
    flex-basis: 25%;
}

button {
  margin: 0.5% !important;
  width: 96%;
}

@media only screen and (max-width: 600px) {
  mat-form-field {
    margin: 5px !important;
  }

  .slider {
  left: 5vw;
  top: 3vw;
  transform: rotateY(180deg);
}
}
