.scheduler {
  width: 25vw;
  height: 340px;
  margin: 0 1vw 1vw 0;
}

::ng-deep .mat-card-header-text {
  width: 100%;
  direction: rtl;
}

.slider {
  position: absolute;
  left: 1vw;
  transform: scale(1.2) rotateY(180deg);
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #089c1c !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #089c1c86 !important;
}

.tag {
  float: right;
}

.tag-value {
  float: left;
}

mat-form-field {
  text-align: right;
}
mat-card-actions {
  position: absolute;
  left: 1.5vw;
  bottom: 1.5vw;
}

.mat-card-actions .mat-stroked-button {
  margin: 0 8px 0 0;
}
