@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

html {
  font-size: 15px;
  direction: rtl;
  background-color: #c7effc !important;
  
}

body{
  background-color: #c7effc !important;
  height: 100vh;
  margin: 0;
}

*{
  font-family: "Varela Round" !important;
}