.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 0 10px 0;
  cursor: pointer;
  text-align: right;
  max-height: 700px;
  font-size: 20px;
  transition: 300ms;
  line-height: 1.2;
}

.meta-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  flex-basis: 20%;
  max-height: 180px;
  overflow: hidden;
}

.extra-meta-data{
  text-align: center;

}

.meta-data-title {
  font-weight: bolder;
  margin-bottom: 4px;
}

.meta-data-info {
  color: gray;
  margin-bottom: 16px;
  direction: ltr;
}

.item-collapsed {
  padding-left: 10px;  
  flex-basis: 65%;
  overflow-y: hidden;
  max-height: 170px;
  white-space: pre-line;
}
.mat-chip-list-stacked{
    position: absolute;
    left: 2%;
    margin-top: 16px;
    max-width: 7%;
}

.tag-collapsed{
  overflow: hidden;

}

.item-extended {
  max-height: 700px;
  flex-basis: 65%;
  padding-left: 10px;  
  cursor: default;
}

mat-form-field {
  width: 100%;
  line-height: 1.2 !important;
  font-family: "Varela Round";
  overflow-x: visible;
  text-align: right;
}

.message {
  max-height: 410px;
  direction: rtl;
  padding: 0 0 0 10px;
  margin-top: -1.28125em;
  resize: none;
}

.comment {
  height: 25px;
  resize: none;
}

.buttons-area {
  width: 100%;
  text-align: left;
}

button {
  margin-right: 4px;
}

.collpase-button {
  padding: 0 0 2px 0;
  min-width: 40px;
  margin: 0 3vw 0 -5vw;
}

.collpase-button:hover {
  font-weight: bolder;
  color: rgb(121, 121, 121);
  transition: font-weight 100ms;
  cursor: pointer;
}

.my-scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.my-scroller::-webkit-scrollbar {
  width: 6px;
}

.my-scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(73, 125, 189);
}
