.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 32px;
  cursor: pointer;
  text-align: right;
  min-height: 50px;
  max-height: 700px;
  font-size: 20px;
  transition: 300ms;
  line-height: 1.2;
}

.create-date {
  flex-basis: 12%;
  color: gray;
  font-size: 12px;
}

.item-collapsed {
  flex-basis: 75%;
  overflow-y: hidden;
}

.collaped-message {
  max-height: 100px;
}

.item-extended {
  max-height: 700px;
  flex-basis: 75%;
  cursor: default;
}

mat-form-field {
  width: 100%;
  line-height: 1.2 !important;
  font-family: "Varela Round";
  overflow-x: visible;
  text-align: right;
}

.message {
  max-height: 400px;
  min-height: 0;
  direction: rtl;
  padding: 0;
  margin-top: -1.28125em;
  resize: none;
}

.comment {
  height: 25px;
  resize: none;
}

.buttons-area {
  width: 100%;
  text-align: left;
}

button {
  margin-right: 4px;
}

.collpase-button-area {
  position: relative;
}

.collpase-button {
  position: absolute;
  bottom: 0;
  left: -128px;
  font-size: 32px;
}

.collpase-button:hover {
  font-weight: bolder;
  color: rgb(121, 121, 121);
  transition: font-weight 100ms;
  cursor: pointer;
}

.my-scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.my-scroller::-webkit-scrollbar {
  width: 6px;
}

.my-scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(73, 125, 189);
}
