<div class="container" [ngClass]="(isExtended) ? 'container-extended': 'container-collapsed'">
    <div class="meta-data">
        <p class="meta-data-title">תאריך יצירה:</p>
        <p class="meta-data-info">{{confession.create_date | date:'MM/d/y - HH:mm'}}</p>
        <div class="extra-meta-data" *ngIf="confession.update_date">
            <p class="meta-data-title">תאריך שינוי:</p>
            <p class="meta-data-info">{{confession.update_date | date:'MM/d/y - HH:mm'}}</p>
            <p class="meta-data-title">נערך לאחרונה על ידי:</p>
            <p class="meta-data-info">{{confession.updated_by}}</p>
        </div>
        <p class="meta-data-title">פורסם:</p>
        <p class="meta-data-info">{{confession.serial ? 'כן ( #' + confession.serial + ' )' : 'לא'}}</p>
    </div>

    <div class="item-collapsed" *ngIf="!isExtended; else open_confession">
        {{confession.message}}
    </div>
    <mat-chip-list class="mat-chip-list-stacked" *ngIf="!isExtended">
        <mat-chip class="tag-collapsed" *ngFor="let tag of confession.tags">
            {{tag}}
        </mat-chip>
    </mat-chip-list>
    <button class="extend-btn" (click)="extendConfession()" mat-stroked-button>
        <mat-icon>
            <mat-icon>{{(isExtended) ?'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
        </mat-icon>
    </button>
    <ng-template #open_confession>
        <div class="item-extended">
            <mat-form-field>
                <textarea cdkTextareaAutosize class="message my-scroller" matInput type="text"
                    [value]="confession.message" (change)="updateText($event, 'message')"> </textarea>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput type="text" class="comment my-scroller"
                    [value]="(confession.comment) ? confession.comment : ''" placeholder="הערת המערכת"
                    (change)="updateText($event, 'comment')"> </textarea>
            </mat-form-field>
            <app-chips [tags]="confession.tags" (updateTags)="saveUpdate($event)"></app-chips>

            <div class="buttons-area">
                <button mat-raised-button color="warn" (click)='archiveConfession()'>מחק</button>
                <button mat-raised-button color="accent" (click)='saveConfession()'>שמור</button>
                <button mat-raised-button class="schedule-btn" (click)='scheduleConfession()'>תזמן</button>
                <button mat-raised-button color="primary" (click)='postConfession()'>פרסם</button>
            </div>
        </div>
    </ng-template>
</div>