.container {
  position: fixed;
  top: 8.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

#schedulers-list {
  flex-basis: 57%;
  max-height: 86vh;
}

#posts-list {
  flex-basis: 40%;
  height: 86vh;
}
