<div class="container">
    <div id="schedulers-list" class="my-scroller">
        <p *ngIf="schedulers.length==0" class="empty-list">
            - אין מתזמנים להצגה -
        </p>
        <app-scheduler-item *ngFor="let scheduler of schedulers" [scheduler]="scheduler"
            [ngClass]="(schedulers.length % 2 == 1 && scheduler._id == schedulers[schedulers.length - 1]._id)? 'scheduler-item-last': ''"
            (removeScheduler)="removeScheduler($event)">
        </app-scheduler-item>
    </div>
    <div id="posts-list" class="my-scroller">
        <p *ngIf="posts.length==0" class="empty-list">
            - אין פוסטים מתוזמנים להצגה -
        </p>
        <app-post-item *ngFor="let post of posts" [post]="post" (removePost)="removePost($event)"
            (click)="lastItemClicked(post._id)">
        </app-post-item>
    </div>
    <button mat-fab class="add-shceduler-btn" (click)="createScheduler()">
        <mat-icon>note_add</mat-icon>
    </button>
</div>